<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">IDENTIFICATE <i class="fa fa-sign-in"></i></a>
                <div class="list-group-item">
                    Username
                </div>
                <form>
                    <div class="list-group-item">
                        <p class="list-group-item-text">
                        <div class="form-group">

                            <label for="exampleInputEmail1">
                                Tu Email
                            </label>
                            <input type="text" ng-model="username" class="form-control" id="exampleInputEmail1" ng-keypress="onKeyPressLogin($event)" />
                        </div>
                        <div class="form-group">

                            <label for="exampleInputPassword1">
                                Clave
                            </label>
                            <input type="password" ng-model="password" class="form-control" id="exampleInputPassword1" ng-keypress="onKeyPressLogin($event)" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" /> Permanecer identificado
                            </label>
                        </div>
                        </p>
                    </div>
                    <a class="list-group-item active">
                        <button type="button" ng-click="doLoginOAuth2()" class="btn btn-info btn-block">
                            <i class="fa fa-paw"></i> Conectar a Walladog
                        </button>
                        <div class="alert alert-danger" role="alert" ng-click="clearErrors()" ng-show="err2.visible" style="margin-top:2px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>{{err2.error}} <sub>(click para cerrar)</sub>
                            <br>
                            <pre>{{err2.error_description}}</pre>
                        </div>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">REGISTRATE <i class="fa fa-user"></i></a>
                <form>
                    <div class="list-group-item">
                        <p class="list-group-item-text">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Tu Email
                            </label>
                            <input type="email" ng-model="remail" class="form-control" id="exampleInputEmail1" ng-keypress="onKeyPressRegister($event)"/>
                            <input type="email2" ng-model="remail2" placeholder="Repite tu email" style="margin-top:2px;" class="form-control" id="exampleInputEmail1" ng-keypress="onKeyPressRegister($event)" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername">
                                Tu Username
                            </label>
                            <input type="text" ng-model="rusername" class="form-control" id="exampleInputUsername" ng-keypress="onKeyPressRegister($event)"/>
                        </div>
                        <div class="form-group">

                            <label for="exampleInputEmail1">
                                Nombre
                            </label>
                            <input type="text" ng-model="rfirstname" class="form-control" id="exampleInputEmail1" ng-keypress="onKeyPressRegister($event)" />
                            <label for="exampleInputEmail1">
                                Apellidos
                            </label>
                            <input type="text" ng-model="rlastname" class="form-control" id="exampleInputEmail1" ng-keypress="onKeyPressRegister($event)" />
                        </div>
                        <div class="form-group">

                            <label for="exampleInputPassword1">
                                Clave
                            </label>
                            <input type="password" ng-model="rpassword" class="form-control" ng-keypress="onKeyPressRegister($event)"/>
                            <input type="password" ng-model="rpassword2" class="form-control" ng-keypress="onKeyPressRegister($event)" style="margin-top:2px;" placeholder="Repite tu clave"/>
                        </div>
                    </div>
                    <a class="list-group-item active">
                        <button type="button" ng-click="doRegister()" class="btn btn-info btn-block">
                            <i class="fa fa-paw"></i> Registrarse en Walladog
                        </button>
                        <div class="alert alert-danger" role="alert" ng-click="clearErrors()" ng-show="err.visible" style="margin-top:2px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>{{err.error}} <sub>(click para cerrar)</sub>
                            <br>
                            <pre>{{err.error_description}}</pre>
                        </div>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>