<div class="photo" ui-sref="root.product">
    <a href="#">
        <div class="photo-wrapper">
            <img class="img-rounded" src="" data-ng-src="{{card.src}}">
        </div>

        <div class="photo-price">
            <p>21€</p>
        </div>
        <div class="photo-description">
            Lucas ipsum dolor sit amet mon twi'lek sidious ...
        </div>
        <div class="photo-author" style="display:inline-block;width:95%">
            <div style="width:20%;float:left;"><img src="{{card.src}}" width="40" height="40" class="img-circle"></div>
            <div style="font-size:9px;float:left;width:60%;">
                <p>Ramon Alberti</p>
                <p>XX productos</p>
            </div>
        </div>
    </a>
</div>